audioop-lts==0.2.2
audioread==3.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
decorator==5.3.1
idna==3.17
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
moviepy==2.2.1
msgpack==1.1.2
numba==0.65.1
numpy==2.4.6
opencv-python==4.13.0.92
packaging==26.2
pillow==11.3.0
platformdirs==4.10.0
pooch==1.9.0
proglog==0.1.12
pycparser==3.0
pygame==2.6.1
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
sounddevice==0.5.5
soundfile==0.13.1
soxr==1.1.0
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
threadpoolctl==3.6.0
tqdm==4.68.1
typing_extensions==4.15.0
urllib3==2.7.0
wheel==0.47.0
